<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/img/logo_mercado.png" type="image/x-icon">
    <link rel="shortcut icon" href="/img/logo_mercado.png" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/lista_produtos.css">
    <title>Lista de Produtos</title>
</head>
<body>
    <div class="lista" id="lista_produtos"></div>
    <button class="lista" onclick="voltar()">VOLTAR</button>
</body>
<script type="text/javascript" src="/js/lista_produtos.js"></script>
</html>